@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: url('yj.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 95vh;
    overflow: hidden;
}

.container{
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: center;
    overflow: hidden;
    width: 768px;
    max-width: 90%;
    min-height: 380px;
}

.container img{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: var(--first-color);
    border-radius: 100%;
    max-width: 50%;
}
.container span{
    margin: 0;
    padding: 0;
    font-size: 9px;
    display: absolute;
    height: 100%;
    width: 100%;
}
.container h1{
    margin: 0;
    padding: 16px;
    font-size: 25px;
    display: absolute;
    width: 134px;
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 80%;
    width: 80%;
}

.

.form-container{
    position: relative;
    top: 100px;
    left: 50%;
    width: 100px;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.image-prof{
    margin: 65px;
    position: center;
    height: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.bottom-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom-container sc{
    display: flex;
    height: 0;
    justify-content: center;
    align-items: center;
} 
.bottom-container h6{
    font-size: 8px;
}
.social-icons{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    width: 20px;
    height: 20px;
    color: black;
    top: 10px;
    text-decoration: none;
}
